<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header Example</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <img src="logo.png" alt="Logo" />
      <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Work</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </nav>

      <div class="shape"></div>
      <div class="shape"></div>
      <div class="shape"></div>
    </header>

    <section>
      <div class="container1">
        <div class="left-div">
          <div class="left-content">
            <h2 class="main-color">Shriyam Shukla</h2>
            <p>
              There are many variations of passages of Lorem Ipsum available,
              but the majority have suffered alteration in some form, by
              injected humour, or randomised words which don't look even
              slightly believable.
            </p>
            <a href="#" class="button">Learn More</a>
          </div>
        </div>
        <div class="right-div">
          <div class="right-content">
            <img src="avatar1.png" alt="Image" />
          </div>
        </div>
      </div>
    </section>

    <section class="sections-container">
      <div class="testimonial-container">
        <div class="testimonial-content">
          <h2 class="testimonial-title">Testimonials</h2>
          <div class="testimonial-grid">
            <!-- card 1 -->
            <div class="testimonial-card"> 
              <div class="testimonial-avatar">
                <img src="lp.jpg" alt="" />
              </div>
              <div class="testimonial-detail">
                <h3 class="testimonial-name">Development</h3>
                <p class="testimonial-desc">
                  Simply dummy text of the print and typesetting industry lorem
                  Ipsum has been standard.
                </p>
              </div>
            </div>
            <!-- card 2 -->
            <div class="testimonial-card">
              <div class="testimonial-avatar">
                <img src="lp.jpg" alt="" />
              </div>
              <div class="testimonial-detail">
                <h3 class="testimonial-name">App Design</h3>
                <p class="testimonial-desc">
                  Simply dummy text of the print and typesetting industry lorem
                  Ipsum has been standard.
                </p>
              </div>
            </div>
            <!-- card 3 -->
            <div class="testimonial-card">
              <div class="testimonial-avatar">
                <img src="lp.jpg" alt="" />
              </div>
              <div class="testimonial-detail">
                <h3 class="testimonial-name">UI / UX Design</h3>
                <p class="testimonial-desc">
                  Simply dummy text of the print and typesetting industry lorem
                  Ipsum has been standard.
                </p>
              </div>
            </div>

            <!-- card 4 -->
            <div class="testimonial-card"> 
              <div class="testimonial-avatar">
                <img src="lp.jpg" alt="" />
              </div>
              <div class="testimonial-detail">
                <h3 class="testimonial-name">Web Development</h3>
                <p class="testimonial-desc">
                  Simply dummy text of the print and typesetting industry lorem
                  Ipsum has been standard.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="additional-info">
        <h6>Basic info about company</h6>
        <h2>Digital Creator & Strategists</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden the middle.
        </p>

        <h2>Our Mission</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden the middle.
        </p>

        <h2>Our Vission</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden the middle.
        </p>

        <h2>Our Policy</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden the middle.
        </p>

        <h2>Extras</h2>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form, by injected
          humour, or randomised words which don't look even slightly believable.
          If you are going to use a passage of Lorem Ipsum, you need to be sure
          there isn't anything embarrassing hidden the middle.
        </p>
      </div>
    </section>
    
    <section class="parallax bg-img1" style="background-image: url(&quot;https://megaone.acrothemes.com/resume/img/bg-img-1.jpg&quot;); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-position: center 49.05px;">
      <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="parallax-box text-white custom-parallax-box">
                    <h2 class="count">1800</h2>
                    <h5>Project Completed</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="parallax-box text-white custom-parallax-box">
                    <h2 class="count">125</h2>
                    <h5>Total Countries</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="parallax-box text-white custom-parallax-box">
                    <h2 class="count">5500</h2>
                    <h5>Users Worldwide</h5>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="parallax-box text-white custom-parallax-box">
                    <h2 class="count">17</h2>
                    <h5>Award Winners</h5>
                </div>
            </div>
        </div>
      </div>
    </section>
  

  
            <!--===== SKILLS =====-->
    <section class="skills section" id="skills">
      <h2 class="section-title">Skills</h2>
      <div class="skills__container">
        <div class="skills__content">
          <h2 class="skills__subtitle">Professional Skills</h2>
          <p class="skills__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit optio id vero amet, alias architecto consectetur error eum eaque sit.</p>
          <div class="skills__data">
            <div class="skills__names">
              <i class='bx bxl-html5 skills__icon'></i>
              <span class="skills__name">HTML5</span>
            </div>
                  <div class="skills__bar skills__html"></div>
                  <div><span class="skills__percentage">95%</span></div>
                </div>
                <div class="skills__data">
                  <div class="skills__names">
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">CSS3</span>
                  </div>
                  <div class="skills__bar skills__css"></div>
                  <div><span class="skills__percentage">85%</span></div>
                </div>
                <div class="skills__data">
                  <div class="skills__names">
                    <i class='bx bxl-javascript skills__icon'></i>
                    <span class="skills__name">JAVASCRIPT</span>
                  </div>
                  <div class="skills__bar skills__js"></div>
                  <div><span class="skills__percentage">65%</span></div>
                </div>
                <div class="skills__data">
                  <div class="skills__names">
                    <i class='bx bxs-paint skills__icon'></i>
                    <span class="skills__name">UX/UI</span>
                  </div>
                  <div class="skills__bar skills__ux"></div>
                  <div><span class="skills__percentage">85%</span></div>
                </div>
              </div>
          
              <div class="skills__image">
                <img src="work3.jpg" alt="" class="skills__img">
              </div>
            </div>
    </section> 
    <section>

    <div class="testimonial-container">
        <div class="testimonial-content">
            <h2 class="testimonial-title">
                What others say about Us
            </h2>
            <div class="testimonial-grid">
                <!-- card 1 -->
                <div class="testimonial-card">
                    <div class="testimonial-text">
                        "StudyBuddy revolutionised my classroom! Emgaging content and teach resources make learning enjoyable. Heighly recommended for educators."
                    </div>
                    <div class="testimonial-avatar">
                        <img src="avatar1.png" alt="">
                    </div>
                    <div class="testimonial-detail">
                        <h3 class="testimonial-name">
                            Sara Johnson
                        </h3>
                        <p class="testimonial-desc">
                            General Manager
                        </p>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="testimonial-card">
                    <div class="testimonial-text">
                        "StudyBuddy transformed our family's learning journey ,Safe, interactive and progress tracking features are invaluable for parents" 
                    </div>
                    <div class="testimonial-avatar">
                        <img src="avatar2.png" alt="">
                    </div>
                    <div class="testimonial-detail">
                        <h3 class="testimonial-name">
                            Mark Davis
                        </h3>
                        <p class="testimonial-desc">
                            CEO
                        </p>
                    </div>
                </div>
                <!-- card 3 -->
                <div class="testimonial-card">
                    <div class="testimonial-text">
                        "StudyBuddy, a true game-changer! Flexible content , tailored assesment support. Integral to our school district's success."
                    </div>
                    <div class="testimonial-avatar">
                        <img src="avatar3.png" alt="">
                    </div>
                    <div class="testimonial-detail">
                        <h3 class="testimonial-name">
                            Dr. James Carter
                        </h3>
                        <p class="testimonial-desc">
                            Asssosiate
                        </p>
                    </div>
                </div>
            </div>

        </div>
      </div>
    </section>
    <!-- contact me -->
	<section class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<h2>Contact Us</h2>
					<p>Feel free to get in touch with us. </p>
					<ul class="contact-info">
						<li><i class="bx bx-map"></i><span>123 Main Street, City, Country</span></li>
						<li><i class="bx bx-phone"></i><span>+123 456 789</span></li>
						<li><i class="bx bx-envelope"></i><span>info@example.com</span></li>
					</ul>
					<form class="contact-form">
						<input type="text" name="name" placeholder="Your Name" required>
						<input type="email" name="email" placeholder="Your Email" required>
						<textarea name="message" placeholder="Your Message" required></textarea>
						<button type="submit" >Send Message</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	

<!--FOOTER SECTION -->
<footer class="footer">
	<p class="footer__title">Morris Douglas</p>
	<div class="footer__social">
		<a href="#" class="footer__icon"><i class='bx bxl-facebook' ></i></a>
		<a href="#" class="footer__icon"><i class='bx bxl-instagram' ></i></a>
		<a href="#" class="footer__icon"><i class='bx bxl-twitter' ></i></a>
	</div>
	<p class="footer__copy">&#169; Bedimcode. All rigths reserved</p>
</footer>



  </body>
</html>
